<header id="header">
  <h1 class="page-header"><%= title %></h1>
</header>

<section id="main">
  <form class="search-form">
    <div class="form-group">
      <div class="input-group col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8">
        <label class="sr-only" for="search">Search</label>          
        <input type="text" id="search" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-striped" id="site-list">
      <thead>
        <tr>
          <%= table_header %>
        </tr>
      </thead>
      <tbody>
        <!-- site templates rendered here -->
      </tbody>
    </table>
  </div>

  <div id="pagination">
        <!-- pagination template rendered here -->
  </div>
</section>

<footer id="footer">
        <!-- stats template rendered here -->
</footer>
